<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/antoine-barres.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <h3 style="font-weight: bold; color: white; text-align: center;">About Me</h3>
                <p style="color:white">I'm a front-end developer with 6 years of professional experience.
                    Skilled in JavaScript, Angular and NodeJS. Passionate about software development and continuous learning.
                    I'm interested in all kinds of web development, but my major focus is on designing web & mobile interfaces.</p>
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
      
    </div>

</div>