<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/antoine-barres.jpg')">
        <div class="filter"></div>
        <div class="content-center" style="width: 50%;">
            <div class="container">
                <h3 style="font-weight: bold; color: white; text-align: center;">My Skills</h3>


                <ul>
                    <li style="color: white;">
                        <div class="d-flex align-items-center">
                            <span class="p-1" style="width: 20%;">JavaScript</span>
                            <div class="progress" style="width: 100%;">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 80%">
                                    80%
                                </div>
                            </div>
                        </div>

                    </li>

                    <li style="color: white;">
                        <div class="d-flex align-items-center">
                            <span class="p-1" style="width: 20%;">TypeScript</span>
                            <div class="progress" style="width: 100%;">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 70%">
                                    70%
                                </div>
                            </div>
                        </div>
                    </li>
                    <li style="color: white;">
                        <div class="d-flex align-items-center">
                            <span class="p-1" style="width: 20%;">Java</span>
                            <div class="progress" style="width: 100%;">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 60%">
                                    60%
                                </div>
                            </div>
                        </div>
                    </li>
                    <li style="color: white;">
                        <div class="d-flex align-items-center">
                            <span class="p-1" style="width: 20%;">NodeJS</span>
                            <div class="progress" style="width: 100%;">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 80%">
                                    80%
                                </div>
                            </div>
                        </div>
                    </li>
                    <li style="color: white;">
                        <div class="d-flex align-items-center">
                            <span class="p-1" style="width: 20%;">Angular</span>
                            <div class="progress" style="width: 100%;">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 80%">
                                    80%
                                </div>
                            </div>
                        </div>
                    </li>
                    <li style="color: white;">
                        <div class="d-flex align-items-center">
                            <span class="p-1" style="width: 20%;">AWS</span>
                            <div class="progress" style="width: 100%;">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 70%">
                                    70%
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>

    </div>

</div>